body{
    font-family:Arial,sans-serif;
    margin:20px;
}
.block-menu a{
    display:block;
    background-color:#3498db;
    color:white;
    padding:10px;
    margin:5px 0;
    text-decoration: none;
}
.inline-menu{

}
.inline-block-menu a{
    display:inline-block;
    background-color:#2ecc71;
    color:white;
    padding:10px;
    margin:5px;
    text-decoration: none;
}